In [3]:
import pandas as pd
import sqlite3

In [1]:
excel_file = 'E:\\Data_analysis_projects\\Population Density\\dataset\\cities_population.xlsx'

In [4]:
excel_data = pd.read_excel(excel_file, sheet_name=None)

In [5]:
conn = sqlite3.connect(':memory:')

In [6]:
for sheet_name, df in excel_data.items():
    df.to_sql(sheet_name, conn, index=False, if_exists='replace')

In [17]:
query = "SELECT city,country, round((Population / Area),0) as density from sheet1 group by city,country"

In [18]:
results = pd.read_sql_query(query, conn)

In [19]:
print(results)

           city      country  density
0        City_1   Country_29    102.0
1       City_10   Country_60   1175.0
2      City_100  Country_100     35.0
3     City_1000   Country_26     39.0
4     City_1001   Country_54    825.0
...         ...          ...      ...
4995   City_995   Country_48   1048.0
4996   City_996   Country_12    135.0
4997   City_997   Country_40    738.0
4998   City_998   Country_97    329.0
4999   City_999   Country_37    125.0

[5000 rows x 3 columns]

In [23]:
q2="""SELECT city, country, density
FROM (
    SELECT city, country, round((population / area),0) as density
    FROM sheet1
    GROUP BY city, country
)
ORDER BY density ASC
LIMIT 1"""

In [24]:
results = pd.read_sql_query(q2, conn)

In [25]:
print(results)

        city    country  density
0  City_1028  Country_3      0.0

In [26]:
q3="""SELECT city, country, density
FROM (
    SELECT city, country, round((population / area),0) as density
    FROM sheet1
    GROUP BY city, country
)
ORDER BY density Des
LIMIT 1"""

In [ ]:
results = pd.read_sql_query(q3, conn)

In [ ]:
print(results)